{% extends 'layout.html' %}
{% block body %}
<div class="row">
  <div class="col-md-12 text-center chirp_input">
    <form action="/chirp" class="form-inline" method="POST">
      <div class="form-group">
        <input type="text" maxlength="141" class="form-control input-lg" placeholder="What's up?" name="chirp">
      </div>
      <button type="submit" class="btn btn-default">Chirp</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% for tweet in tweets %}
    <div class="well well-lg">
      <img class="avatar" src="http://placehold.it/100x80"/>
      <p class="userInfo"><strong>{{tweet.name}}</strong>
      <span class="tweetTime">@{{tweet.user_name}}
        {{tweet.time_stamp.strftime('%Y-%m-%d')}}</span>
    </p>
    <p class="text-center chirpMessage">
      {{tweet.tweet}}
    </p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
